<launch>
    <include file="$(find unitree_a1_base)/launch/slam_rplidar_start.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"> 
        <rosparam file="$(find unitree_a1_base)/params/costmap_common_params.yaml"       command="load"  ns="global_costmap" />
        <rosparam file="$(find unitree_a1_base)/params/costmap_common_params.yaml"       command="load"  ns="local_costmap" />
	    <rosparam file="$(find unitree_a1_base)/params/local_costmap_params.yaml"        command="load" />
        <rosparam file="$(find unitree_a1_base)/params/global_costmap_params.yaml"       command="load" />

        <rosparam file="$(find unitree_a1_base)/params/base_local_planner_params.yaml"   command="load" />
        <rosparam file="$(find unitree_a1_base)/params/nav_obstacles_params.yaml"        command="load" />

        <!--rosparam file="$(find unitree_a1_base)/params/move_base_params.yaml"   command="load" /-->
        <!--rosparam file="$(find unitree_a1_base)/params/dwa_local_planner_params.yaml"        command="load" /-->
       	<!--rosparam file="$(find unitree_a1_base)/params/global_planner_params.yaml" command="load" /-->
    	<!--rosparam file="$(find unitree_a1_base)/params/navfn_global_planner_params.yaml" command="load" /--> 
    </node>

    <!--node pkg="rviz"  type="rviz"  name="rviz" args="-d $(find unitree_a1_base)/cfg/unitree_a1_base_online.rviz" required="true"/-->
    
    <!-- <node pkg="unitree_a1_base"  type="base_controller_node"  name="base_controller_node" /> -->

    <arg name="rname" default="a1"/>
    <arg name="ctrl_level" default="highlevel"/>
    <arg name="firmwork" default="3_2"/>

    <node pkg="unitree_legged_base_controller" type="lcm_server_$(arg firmwork)" name="node_lcm_server"
          respawn="false" output="screen" args="$(arg rname) $(arg ctrl_level)" />

    <param name="robot_name" value="$(arg rname)"/>
    <param name="control_level" value="$(arg ctrl_level)"/>
    <param name="firmwork" value="$(arg firmwork)"/>

     <node pkg="unitree_legged_base_controller" type="unitree_legged_base_controller" name="unitree_legged_base_controller"
          respawn="false" output="screen" args="$(arg rname) $(arg ctrl_level)" />

</launch>
